.dark-theme .title, .dark-theme .section__title, .dark-theme .section__sub-title, .dark-theme .nav__link--anchor, .dark_theme .fa-adjust, .dark-theme .header__para {
    color: white;
}

.dark-theme section {
    background-color: #242424;
}

.dark-theme #personal-logo {
    filter: none;
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after, .dark-theme .link__hover-effect__blank:after {
    background-color: white;
}

.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}